// Light Theme
$starblue: #0065a4;
$headerText: rgba(0, 0, 0, 0.92);
$bodyText: #333;
$pullQuote: rgba(0, 0, 0, 0.07);
$bodyBackground: #f8f8f8;
// $bodyBackground: rgba(249, 246, 239, 1);
$borderColour: #ddd;
$linkcolour: rgba(0, 136, 255, 1);
$captioncolour: rgba(56, 56, 56, 0.83);
$footerBackground: #333;
$footerText: #fff;

$primarycolour: #006ed2;
$linkcolour: #{$primarycolour};
$secondarycolour: rgba(56, 56, 56, 0.83);

$captionfont: 'Inter', sans-serif;
// $captionfont: 'Merriweather Sans', sans-serif;

$bodyFont:  18px 'STIX Two Text', serif;

$captionFont:  21px 'Noto Serif', serif;
$displayFont: "Frank Ruhl Libre", "Times New Roman", Times, serif;

$margins: 25;
$landingpagemargins: 32;
